@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.navbar1 {
  width: 100%;
  height: 115vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  background-color: #404040;
  opacity: 0.8;
}
nav .logo {
  width: 80px;
}
nav .navbarLI {
  list-style: none;
  display: inline-block;
  margin-left: 100px;
}
nav .navbarA {
  text-decoration: none;
  color: #FFEBAD;
  font-size: 16px;
}

.content {
  text-align: center;
}
.content .title {
  font-size: 80px;
  color: #FFEBAD;
  font-weight: 600;
  padding: 16px;
  background-color: #404040;
  opacity: 0.9;
  border-radius: 20px;
}
.content .contentA {
  text-decoration: none;
  display: inline-block;
  color: whitesmoke;
  font-size: 24px;
}

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.logo {
  height: 70px;
  width: 80px;
  border-radius: 100%;
}

.row {
  padding-top: 80px;
  background-color: rgb(244, 237, 237);
}

.main-del2 {
  margin-top: 80px;
}
.main-del2 .featurette-heading {
  margin-top: 60px;
  padding-left: 50px;
}
.main-del2 .lead {
  margin-top: 30px;
  padding-left: 50px;
  font-size: 16px;
}
.main-del2 .bild1 {
  width: 360px;
  height: 400px;
}
.main-del2 .bild2 {
  width: 600px;
  height: 300px;
}

/* Tillval massage */
.massage {
  background: url(bilder/massageBild.webp);
  background-size: cover;
  background-position: center;
  height: 80vh;
}
.massage .tillvalH1 {
  text-align: center;
  font-size: 80px;
  padding: 30px;
  color: #404040;
  text-shadow: 1px 1px 2px #FFF6BF;
  padding-top: 250px;
  font-family: "Playfair Display", serif;
}

.privatSpa {
  background: url(bilder/partnerpool.jpeg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}
.privatSpa .tillvalH1 {
  text-align: center;
  font-size: 80px;
  padding: 30px;
  color: #404040;
  text-shadow: 1px 1px 2px #FFF6BF;
  padding-top: 250px;
  font-family: "Playfair Display", serif;
}

.produkt {
  background: url(bilder/bildprodukt.webp);
  background-size: cover;
  background-position: center;
  height: 80vh;
}
.produkt .tillvalH1 {
  text-align: center;
  font-size: 80px;
  padding: 30px;
  color: #404040;
  text-shadow: 1px 1px 2px #FFF6BF;
  padding-top: 250px;
  font-family: "Playfair Display", serif;
}

.utepool {
  background: url(bilder/utepool1.jpeg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}
.utepool .tillvalH1 {
  text-align: center;
  font-size: 80px;
  padding: 30px;
  color: #404040;
  text-shadow: 1px 1px 2px #FFF6BF;
  padding-top: 250px;
  font-family: "Playfair Display", serif;
}

.main-tillval {
  background: linear-gradient(white, #FFF6BF);
}

.Information {
  padding: 120px;
  font-size: 20px;
}
.Information .InformationH2 {
  text-align: center;
}

.prisLista {
  text-align: center;
  font-size: large;
}
.prisLista .prisListaUl {
  list-style: none;
}

.boka {
  border: 1px solid rgb(212, 242, 246);
  background-color: #A5F1E9;
  padding: 20 20px;
  width: 130px;
  height: 50px;
  border-radius: 20px;
}

.produktGroup {
  margin-top: auto;
}
.produktGroup .produktBild {
  width: 405px;
  height: 400px;
}
.produktGroup .produktSpan {
  font-size: 16px;
  margin-left: 170px;
  padding: 3px;
  background-color: #FFF6BF;
}

.omdömeH2 {
  text-align: center;
  padding-top: 80px;
}

.omdömeImg {
  width: 100px;
  height: 100px;
}

.omdömeSpan {
  font-size: 30px;
}

.kund-recension {
  padding: 100px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.kund-recension .recension {
  padding: 20px;
  border: 1px solid gainsboro;
  margin: 20px;
  background-color: rgb(245, 248, 250);
}
.kund-recension img {
  width: 110px;
}

.footer-container {
  background-color: #404040;
  min-height: 350px;
  width: 100%;
  font-size: 15px;
}

.footer-wrapper {
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.footer-wrapper > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(254, 254, 254);
  margin: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-omoss {
  width: 100%;
  height: 1700px;
  background: url("Images/Screenshot 2022-11-29 at 12.42.57.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.copyright-div {
  height: 300px;
  margin-left: 200px;
}

.copyright-img {
  display: flex;
  align-self: flex-end;
  justify-content: end;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

div.test {
  width: 100%;
  height: 100%;
  background: aliceblue;
  opacity: 0.8;
}

.image-container {
  position: relative;
  height: 350px;
  width: 250px;
}

.höjd-bredd {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.höjd-bredd.test {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 30px;
  margin: 15px;
}

.image-container p {
  position: absolute;
  bottom: 20px;
  top: 180px;
}

.h2-centrering {
  margin: 5rem;
  display: flex;
  justify-content: center;
  margin: 5rem;
  font-size: x-large;
}

.topdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 4rem;
}

.topdiv > * {
  text-align: center;
  max-width: 15rem;
}

.slogan {
  display: flex;
  justify-content: center;
  font-size: x-large;
  align-items: center;
}

.bottomdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 4rem;
}

@media (max-width: 1250px) {
  .bottomdiv {
    justify-content: center;
  }
  .topdiv {
    justify-content: center;
  }
}
.bottomdiv > * {
  text-align: center;
  max-width: 15rem;
}

.Historik-container {
  display: flex;
  margin: 7rem;
}

.historik {
  display: flex;
  border: 4px solid black;
  flex-direction: column;
  max-width: 700px;
  text-align: center;
  background-color: #FFEBAD;
  padding: 2rem;
}

.footer-container {
  background-color: #404040;
  min-height: 350px;
  width: 100%;
  font-size: 15px;
  margin-top: auto;
}

.footer-wrapper {
  position: relative;
  min-height: 350px;
  min-width: 450px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-wrapper > * {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: wrap;
  color: rgb(254, 254, 254);
  margin: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.footer-info {
  display: flex;
  flex-direction: row;
  gap: 200px;
  text-align: center;
}

.footer-länkar {
  margin: 10px;
  text-decoration: none;
  color: white;
  display: block;
}

.footer-länkar:hover {
  color: #2ecc71;
}

.h3-kontakt {
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  margin-bottom: 250px;
  margin-top: 100px;
}

.form-container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1200px;
  background: url("Images/beach.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(1px);
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.left {
  height: 100%;
  background: url("Images/spaFormLjus.jpg") no-repeat center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

.kontakth2 {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  margin: 5rem;
}

.kontakth2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 4px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  padding: 1rem 1rem;
  outline: none;
  border: none;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}/*# sourceMappingURL=styleHem.css.map */